      
<html>
<head>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="login">
	  <h2>Login Here</h2>
	  <p id="msg"></p>
      <form method = "post" id="loginForm">
		  <label for="fname">Email ID</label>
		  <input type="email" id="email" name="email" placeholder="Your email">

		  <label for="lname">Password</label>
		  <input type="password" id="pw" name="pw">
		  <input type="submit" name= "loginForm" class="loginbtn" onclick="formModule.login()">
     </form>
      <div class="signin">
    	<p>Don't have an account? <a href="form.html">Sign Up</a>.</p>
	  </div>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/validation.js"></script>
</body>
</html>
